<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="FirstTestSuite" verbose="1">

	<listeners>
		<listener class-name="com.csd.ExtentReportListener.ExtentReportNG" />
	</listeners>

	<test name="CSD Automation Test Cases">
		<classes>
			<class name="com.csd.AssociateLoginPageTest" />
			<class name="com.csd.CSDHomePageTest" />
			<class name="com.csd.CSDContractsPageTest" />
			<class name="com.csd.CSDIncidentContractPageTest" />
			<class name="com.csd.CSDIncidentDetailsPage" />
			<class name="com.csd.CSDPreferencesPageTest" />
		</classes>
	</test>

</suite>
